    /* footer, main, navigation */

nav {
    border-radius: 0px 0px 15px 15px;
    background-color: #f6f5f7;
    color: #e2d3ed;
    height: 70px;
}
.footer{
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 150px;
    padding-top: 30px;
    align-items: start;
    height: 250px;
    display: flex;
    justify-content: space-between;
    background: #8489CD;
    color: #fff;

}
body .main, main .container{
  font-family: 'Segoe UI Light';
  color: #1C1C1C;
}
.container {
    text-align: center;
    margin-top: 30px
}


    /* divs */
nav div{
    padding-left: 20px;
    padding-top: 5px;
    align-items: center;
    display: flex;
}
.v_div{
    text-align: end;
    width: 40%;
}
.org{
    display: flex;
    margin-bottom: 40px;
    padding: 20px;
    background: #fff;
    border-radius: 40px;
    align-items: start;
    text-align: start;
}
.img_block {
    display: flex;
    padding: 20px;
}
.img_form{
    text-align: center;
    align-items: center;
    border-radius: 20px;
    background: #D2D2D5;
    padding: 60px;
    height: 270px;
    width: 250px;
}
.photo_pet{
    padding: 0px;
    height: 220px;
    border-radius: 30px;
    width: 200px;
    margin-right: 55px;
}
.photo_pet img{
    border-radius: 30px;
    height: 220px;
    width: 200px;
}
.div_o{
    display: block;
    margin-top: 30px;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    border-radius: 40px;
    background: #f6f5f7;
}
.types_checkbox {
    margin-left: 200px;
    margin-bottom: 10px;
    font-size: 20px;
}
.category div:hover{
    transform: scale(1.1);
    transition: 0.7s;
}
.category{
    display: flex;
}
.subcategory{
    display: block;
    text-align: start;
    font-size: 18px;
    border-radius: 30px;
    background: #f6f5f7;
    padding: 60px;
}
.sb{
    display: block;
    padding: 30px;
    margin-top: 70px;
    background: #fff;
    border-radius: 30px;
    width: 100%;
    text-align: start;
}
.geo{
    width: 500px;
    margin-top: 50px;
    text-align: start;
}
.geo2{
    margin-left: 40px;
    text-align: start;
    justify-content: space-between;
    display: flex;
    margin-bottom: 30px;
}
.about {
    padding: 10px;
    background: #fff;
    width: 450px;
    height: 75px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: start;
}
.contacts{
    display: block;
}
.cont{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.post_mini:hover{
    box-shadow: 0px 0px 5px 7px #e9e8eb;
    text-decoration: none;
    color: #201147;
}
.post_mini{
    color: #130e21;
    text-decoration: none;
    border-radius: 20px;
    background-color: #fff;
    display: block;
    padding: 30px;
    height: 200px;
    margin: 40px;
    font-size: 16px;
    text-align: start;
    justify-content: start;
    width: 90%;
}
.main_div {
    display: inline-block;
    border-radius: 20px;
    margin-top: 15px;
    width: 100%;
    justify-content: start;
    text-align: start;
}
.post_d{
    border-radius: 30px;
    background-color: #f6f5f7;
    display: block;
    padding: 50px;
    padding-bottom: 70px;
    margin-top: 30px;
    font-size: 18px;
    text-align: start;
    justify-content: start;
    width:  80%;
    margin-left: 10%
}
.text{
    width: 200px;
    display: block;
    font-size: 13px;
    margin-top: 40px;
}
.button_group {
    display: flex;
    margin-bottom: 30px;
}
.buttons {
    margin-top: 10px;
    margin-left: -7px;
    display: flex;
    width: 99%;
    justify-content: space-between;
    }
.content2{
    border-radius: 30px;
    background-color: #f6f5f7;
    display: block;
    justify-content: center;
    padding: 50px;
    padding-bottom: 80px;
    margin-top: 30px;
}
.welcome{
    border-radius: 30px;
    background-color: #f6f5f7;
    display: block;
    width: 300px;
    text-align: center;
    padding: 0px;
}
.account{
    border-radius: 20px;
    background-color: #f6f5f7;
    padding: 60px;
    display: block;
    margin-top: 30px;
}
.content{
    border-radius: 20px;
    background-color: #f6f5f7;
    display: block;
    justify-content: start;
    text-align: start;
    padding: 40px;
    margin-top: 30px;
}


    /* ul */

.un{
    margin-left: 10px;
    font-size: 19px;
    padding: 0px;
    align-items: center;
    margin-top: 9px;
    list-style-type: none;
    display: flex;
}
.li2:hover .submenu{
    display: block;
}


    /* links */
.names{
    text-decoration: none;
    color: #4F4F4F;
    font-size: 20px;
}
.names:hover{
    text-decoration: none;
    color: #5B5BCD;
}
.geo2 a{
    text-decoration: none;
    color: #171A31;
    font-size: 17px;
}
.geo2 a:hover{
    color: #171A31;
}
.geo a{
    font-size: 20px;
    color: #282829;
    text-decoration: none;
}
.geo a:hover, .geo a:focus{
    color: #8F8FD6;
}
.logout{
    padding: 10px;
    text-decoration: none;
    background: #fff;
    color: #4F4F4F;
    border-radius: 25px;
    font-size: 17px;
    width: 150px;
}
.logout:hover, .logout:focus{
    text-decoration: none;
    background: #EBEBEF;
    color: #4F4F4F;
}
.help{
    color: #fff;
    margin-left: 26px;
    text-decoration: none
}
.help:hover{
    color: #fff;
}
.link {
    margin-right: 20px;
    text-decoration: none;
    color:  #09080a;
}
.link:focus{
    color: #542e85;
    text-decoration: none;
}
.link:hover{
    color: #663f99;
    text-decoration: none;
    transform: scale(1.1);
    transition: 0.5s;
}
.edit{
    padding: 10px;
    text-decoration: none;
    background: #9292D9;
    color: #fff;
    border-radius: 25px;
    font-size: 17px;
}
.edit:hover, .edit:focus{
    text-decoration: none;
    background: #8585D1;
    color: #fff;
}
.type_org{
    font-size: 25px;
    margin-bottom: 70px;
    text-decoration: none
    color: #281D35;
}
.type_org:hover{
    color: #451A7F;
}
.features{
    text-align: start;
    display: inline;
    margin: 7px;
    width: 100%;
}
.features p{
    margin-right: 15px;
}

    /* buttons */
.fav{
    background: none;
    border: none;
}
.add_photo{
    color: #444455;
    border-radius: 30px;
    border-color: #f6f5f7;
    padding: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 40px;
    font-size: 30px;
    background: #f6f5f7;
}
.img_a {
    margin-left: 20px;
}
.butt3{
    border-radius: 30px;
    border-color: #E3E3E3;
    justify-items: center;
    outline:none;
    height: 40px;
    padding: 6px;
    width: 140px;
    background: #EBEBEF;
}
.butt3:focus{
    background: #8F8FD6;
    color: #fff;
}
.butt3:hover{
    background: #9A9AD5;
    color: #fff;
}
.v_org{
    color: #fff;
    background: #D3D3D4;
    text-decoration: none;
    border-radius: 30px;
    border-color: #A0A0AC;
    justify-items: center;
    align-items: center;
    width: 50%;
    font-size: 22px;
    height: 43px;
}
.v_org:hover{
    color: #fff;
    background: #9A9AD5;
    border-color: #9A9AD5;
    text-decoration: none;
}
.b_reg {
    color: #1F1E29;
    background: #fff;
    border-radius: 30px;
    border-color: #FAFAFA;
    justify-items: center;
    outline:none;
    padding: 6px;
    width: 220px;
    font-size: 20px;
    height: 50px;
    margin-bottom: 30px;
}
.b_reg:hover{
    background: #E3E3E3;
}
.b_login{
    color: #fff;
    background: #9A9AD5;
    border-radius: 30px;
    border-color: #9A9AD5;
    justify-items: center;
    outline:none;
    padding: 6px;
    width: 220px;
    font-size: 20px;
    height: 50px;
    margin-bottom: 20px;
}
.b_login:hover{
    background: #8F8FD6;
}
.back {
    color: #281D35;
    padding: 6px;
    font-size: 17px;
    width: 100px;
    background: #fff;
    border-color: #969696;
    border-radius: 20px;
}
.back:hover{
    color: #8D8DCE;
    border-color: #8D8DCE;
}
.card{
    color: #0F0F15;
    padding: 6px;
    padding-left: 10px;
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
    width: 90px;
    border-width: 2px;
    border-color: #696379;
    border-radius: 20px;
}
.card:hover{
    color: #fff;
    background: #8F8FD6;
    border-color: #ACAED2;
}
.butt2 {
    color: #fff;
    background: #8F8FD6;
    border-radius: 30px;
    border-color: #ACAED2;
    justify-items: center;
    outline:none;
    padding: 6px;
    width: 200px;
}
.butt2:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.butt {
  font-size: 15px;
    border-radius: 30px;
    border-color: #e0dee3;
    justify-items: center;
    outline:none;
    padding: 6px;
    margin-right: 20px;
    width: 120px;
    background: #fff;
}
.cancel {
    background: #fff;
    border-radius: 30px;
    text-align: center;
    border-color:  #BFBFBF;
    padding: 7px;
    margin-right: 20px;
    width: 30%;
}
.cancel:hover{
    background: #E6E5E5;
}
.submit_b:hover{
    background: #5C5E8A;
}
.submit_b{
    border-radius: 30px;
    text-align: center;
    padding: 7px;
    margin-right: 20px;
    width: 46%;
    border-color: #8489CD;
    background: #8489CD;
    color: #fff;
}
.butt:hover {
    border-color: #C0C1E8;
    background: #C0C1E8;
    color: #fff;
}
.butt:focus{
    background: #A6A8E2;
    border-color: #A6A8E2;
    color: #fff;
}
.login{
    font-size: 17px;
    border-radius: 30px;
    border-color: #BDBDBD;
    padding: 6px;
    margin-left: 30px;
    width: 120px;
    background: #fff;
}
.login:hover {
    border-color: #9A9AD5;
    background: #9A9AD5;
    color: #fff;
}
.login:focus{
    background: #8F8FD6;
    border-color: #8F8FD6;
    color: #fff;
}
.img{
    align-items: center;
    background: none;
    border: none;
    padding: 0px;
    margin-left: 10px;
    margin-right: 20px;
}
.img:focus {
    border: none;
}

.img:hover {
    color:  #6b16db;
}

    /* images */
.category_im {
    height: 250px;
    margin: 40px;
    margin-bottom: 0px;
}
.org_im{
    height: 200px;
    margin-right: 50px;
    border-radius: 40px;
}
.ava{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    border-radius: 20px
}
.cont img{
    margin-top: -16px;
    height:30px;
    margin-right: 30px
}
.logo{
    margin-right: 20px;
}


    /* forms */
.title_form{
    background: #fff;
    padding: 8px;
    border-radius: 14px;
    width: 82%;
    margin-left: 30px;
    border-color: #C7C7C7;
}
.post_f p{
    margin-bottom: 9px;
    margin-top: 35px;
}
.category_select{
    width: 80%;
    padding: 6px;
    margin-left: 10px;
    border-radius: 13px;

}
.about_pet{
    background: #fff;
    padding: 8px;
    border-radius: 14px;
    width: 100%;
    height: 130px;
    border-color: #C7C7C7;
}
.search_f{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.search_f input{
    width: 350px;
    padding: 3px;
    margin-left: 15px;
    border-radius: 20px;
    border-color: #BDBDBD;
}
.form_login{
    padding: 5px;
    font-size: 16px;
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border-color: #BDBDBD;
    margin-top: 15px;
}
.form_login2{
    padding: 5px;
    font-size: 16px;
    width: 350px;
    height: 60px;
    border-radius: 20px;
    border-color: #BDBDBD;
    margin-top: 15px;
}

    /* text */
.mail{
    margin-top: 25px;
    margin-bottom: 25px;
}
.error {
    margin-top: 10px;
    font-size: 17px;
    color: #39399D;
}