{% extends "base.html" %}

{% block content %}
<div style="text-align: start; padding: 40px; font-size: 17px;">
    <div style="margin-bottom: 40px;">
        <div style="font-size: 30px; display: flex"><p>PETS - платформа для размещения объявлений о питомцах.</p></div>
        <p style="font-size: 20px">На сайте размещены все организации для животных со всей России.</p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Авторизация</h3>
        <p>Чтобы авторизоваться, перейдите в профиль в правом верхнем углу и выберите способ авторизации</p>
        <p>Если у вас еще нет аккаунта, зарегистрируйтесь.</p>
        <p><img src="/static/img/reg_photo.png" height="500" style="border-radius: 25px;margin: 30px"></p>
        <p>Введите имя пользователя (от 1 до 18 символов), эл.почту, пароль (от 6 символов) и информацию о себе
            (необязательное поле).
            Если ранее регистрировались, то войдите в аккаунт. Введите e-mail, привязанный к аккаунту и пароль.
            Выберите "Запомнить меня", чтобы информация об авторизации сохранилась.<br>
            <img src="/static/img/log_p.png" height="400" style="margin: 30px; border-radius: 25px;"></p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Профиль</h3>
        <p>
            В профиле содержится основная информация о пользователе и все его объявления.
            Чтобы изменить имя, e-mail или информацию о себе нажмите на кнопку редактирования в правом верхнем углу
            страницы.<br>
            <img src="/static/img/edit_p.png" height="400" style="margin: 30px; border-radius: 25px;"/>
        </p>
        <p>
            Изменить пароль, удалить аккаунт или выйти из него можно в настройках.<br>
            <img src="/static/img/sett_p.png" height="400" style="margin: 30px; border-radius: 25px;"/>
        </p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Местоположение</h3>
        <p>
            По умолчанию у всех пользователей указан г. Москва. Поменять город можно в профиле, на главной, в категориях
            или на странице с организациями. Для этого нажмите на название города и перейдя по ссылке, введите ваш
            населенный пункт.
            Выберите из перечисленных вариантов нужный и нажмите "Сохранить".<br>
            <img src="/static/img/city_p.png" height="400" style="margin: 30px; border-radius: 25px;"/>
        </p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Поиск объявлений</h3>
        <p>
            На главной странице размещено часть объявлений всех категорий вашего города.
            Во вкладке "Категории" можно выбрать вид и породу животных.
            Воспользуйтесь фильтром для поиска объявленний по выбранным параметрам.<br>
            <img src="/static/img/sort_p.png" height="400" style="margin: 30px; border-radius: 25px;"/>
        </p>
        <p>
            Чтобы записи выводились в нужном порядке, выберите тип сортировки.<br>
            <img src="/static/img/filter_p.png" height="400" style="margin: 30px; border-radius: 25px;"/>
        </p>
        <p>
            Если объявлений по заданным параметром не нашлось, попробуйте изменить фильтр, местоположение, или ввести
            ключевые слова в строку поиска в панели навигации.
        </p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Создание объявлений</h3>
        <p>
            Создавайте объявления с главной страницы или с профиля. Для этого нажмите кнопку "Создать объявление" и
            перейдите на страницу с формой.
            Обязательные поля для заполнения: название, описание, адрес, порода, номер телефона.
            Сохраните введенные данные. Чтобы посмотреть или удалить объявление, перейдите в профиль. Редактирование
            объявлений недоступно.
        </p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Организации</h3>
        <p>
            Во вкладке "Организации" можно выбрать несколько видов организаций для животных: приюты, зоогостиницы,
            груминг, зоомагазины, ветеринарные клиники и зоозащитные организации.
            Список организаций формируется в зависимости от города.
            На карте указаны метки всех выбранных организаций по РФ. Для получения подробной информации об организации,
            нажмите на нее в списке.<br>
            <img src="/static/img/org_p.png" height="400" style="margin: 30px; border-radius: 25px;"/>
        </p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Добавление в избранное</h3>
        <p>
            Чтобы добавить объявление в избранное, перейдите на страницу с этим объявлением и нажмите "В избранное".
            В панели навигации откройте избранное и там будут все выбранные вами объявления.
        </p>
    </div>
    <div style="margin-bottom: 40px;">
        <h3 style="margin-bottom: 20px;">Контактная информация</h3>
        <p>
            Вся контактная информация расположены в футере внизу страницы.<br>
            <img src="/static/img/foot_p.png" height="200" style="margin: 30px; border-radius: 25px;"/>
        </p>
    </div>
</div>
{% endblock %}