{% extends "base.html" %}

{% block content %}
<div class="content2" style="font-size: 18px; text-align: start; justify-content: start;">
    <form action="" method="post">
        {{ form1.photo }}
        {% for error in form1.photo.errors %}
        <p style="color: #8C2121">
            {{ error }}
        </p>
        {% endfor %}
        <p>
            Заголовок: {{ form1.title ( class="title_form") }}
            {% for error in form1.title.errors %}
        <p style="color: #8C2121">
            {{ error }}
        </p>
        {% endfor %}
        </p>
        <p>Описание:</p>
        <p>
            {{ form1.content (class="about_pet")}}
        </p>
        {% for error in form1.title.errors %}
        <p style="color: #8C2121">
            {{ error }}
        </p>
        {% endfor %}
        <p>{{form1.destination ( class='category_select', style='width: 100%; margin-left: 0px;')}}</p>
        {% for error in form1.destination.errors %}
        <p style="color: #8C2121">
            {{ error }}
        </p>
        {% endfor %}
        <h5>Характеристика питомца</h5>
        <p>
            Категория: {{ form2.category ( class='category_select', style='width: 48%; background: #f6f5f7') }}
        </p>
        <p>
            Порода: {{ form2.breed ( class='category_select',style='background: #f6f5f7')}}
        </p>
        {% for error in form2.breed.errors %}
        <p style="color: #8C2121">
            {{ error }}
        </p>
        {% endfor %}
        <p>Возраст: {{form2.age ( class='category_select', style='width: 10%;background: #f6f5f7')}} лет</p>
        {{ age_err }}
        <p> {{form2.vaccin}} Наличие прививок</p>
        <p> {{form2.documents}} Документы</p>
        <p> {{form2.steril}} Питомец стерилизован</p>
        <p>Цвет: {{form2.color ( class='category_select', style='width: 25%;background: #f6f5f7')}}</p>

        <p>Номер телефона для связи (необязательное поле): {{form1.phone( class='category_select', style='width:
            30%;')}}</p>

        <p>Адрес: {{form1.address ( class='category_select', style='width: 70%;')}}</p>
        {% for error in form1.address.errors %}
        <p style="color: #8C2121">
            {{ error }}
        </p>
        {% endfor %}

        <p>{{form1.delivery}} Возможность доставки </p>

        <p> Цена:{{form1.price ( class='category_select', style='width: 30%; height: 50px;')}} {{form1.currency
            (class='category_select', style='width: 8%; height: 50px;')}}</p>
        <a href="/">
            <button class="cancel"> Отмена</button>
        </a>
        {{ form1.submit (class='submit_b')}}
    </form>
</div>
{% endblock %}