<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
</head>
<body class="main">
<header>
    <nav class="navbar navbar-light">
        <div>
            <a class="navbar-brand" href="#"><img src="/static/img/logo.png" width="50px"></a>
            <ul class="un">
                <li>
                    <a class="link" href="#">Главная</a>
                </li>
                <li>
                    <a class="link" href="#">Категории</a>
                </li>
                <li>
                    <a class="link" href="#">Товары и услуги</a>
                </li>
                <li class='li2'>
                    <a class="link" href="#">
                        Организации
                    </a>
                    <ul class="submenu">
                        <li><a class="link2" href="#">Приюты</a></li>
                        <li><a class="link2" href="#">Зоомагазины</a></li>
                        <li><a class="link2" href="#">Ветеринарные клиники</a></li>
                        <li><a class="link2" href="#">Зоозащита</a></li>
                        <li><a class="link2" href="#">Грумминг</a></li>
                        <li><a class="link2" href="#">Зоогостиницы</a></li>
                    </ul>

                </li>
            </ul>
            <form class="search_f">
                <input placeholder=" Поиск">
                <button class="img"><img src="/static/img/search_logo.png" height="20px"></button>
            </form>
            <button class="img" style="display: block"><img src="/static/img/chat2.png" height="23px" alt="сообщения"></button>
            <button class="img" style="display: block"><img src="/static/img/bell.png" height="27px" alt="уведомления"></button>
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>