<!doctype html>
<html lang="en">
<head>
    <script src="https://api-maps.yandex.ru/v3/?apikey=d23bf23d-46c2-4979-b70e-da63b052758e&lang=ru_RU"></script>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
</head>
<body class="main">
<header>
    <nav>
        <div>
            <a class="navbar-brand" href="/"><img src="/static/img/logo.png" width="50px"></a>
            <ul class="un">
                <li>
                    <a class="link" href="/">Главная</a>
                </li>
                <li>
                    <a class="link" href="/category">Категории</a>
                </li>
                <li class='li2'>
                    <a class="link" href="/organizations">
                        Организации
                    </a>
                </li>
                <li>
                    <a class="link" href="/about_site">О сайте</a>
                </li>
            </ul>
            <form class="search_f" action="/search" method="post">
                <input placeholder=" Поиск" type="search" name="search"/>
            </form>
            {% if current_user.is_authenticated %}
            <a href="/favorites" class="img_a"><img src="/static/img/fav.png" height="27px" alt="избранное"></a>
            <a class="img_a" href="/settings"><img src="/static/img/sett.png" height="27px"></a>
            <a class="img_a" href="/profile"><img src={{current_user.photo}} height="45px"
                                                  style='border-radius: 10px; margin-left: 10px;'></a>
            {% else %}
            <a href='/profile'>
                <button class="login">Войти</button>
            </a>
            {% endif %}
        </div>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main>
<footer>
    <div class="footer">
        <div style="display: block;">
            <div style="display: flex;">
                <img class="logo" src="/static/img/logo.png" height="60px">
                <h2> PETS</h2>
            </div>
            <div class="text">
                <p>A service for finding and adopting pets, placing services and products for animals.</p>
                <p style="font-size: 17px;">2024</p>
            </div>
        </div>
        <div class="contacts">
            <div class="cont">
                <img src="/static/img/phone.png">
                <p>Тел.: +7(982)542-14-49</p>
            </div>
            <div class="cont">
                <img src="/static/img/email.png">
                <p>E-mail: pets.support@gmail.com</p>
            </div><br>
            <a href="/about_site" class="help">Справка</a>
        </div>
    </div>
</footer>
</body>