{% extends "base.html" %}

{% block content %}
<h2>Все категории</h2>
<div class="category">
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/cat.jpg"></a><br>
        <a href="" class="names">Кошки</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/fish.jpg"></a><br>
        <a href="" class="names">Аквариумные</a>

    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/dog.jpg"></a><br>
        <a href="" class="names">Собаки</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/reptils.jpg"></a><br>
        <a href="" class="names">Рептилии</a>
    </div>
</div>
<div class="category">
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/bug.jpg"></a><br>
        <a href="" class="names">Насекомые</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/bird.jpg"></a><br>
        <a href="" class="names">Птицы</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/spider.jpg"></a><br>
        <a href="" class="names">Паукообразные</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/rabbit.jpg"></a><br>
        <a href="" class="names">Грызуны</a>
    </div>
</div>
<div class="category">
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/ferma.jpg"></a><br>
        <a href="" class="names">Ферма</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/exzo.jpg"></a><br>
        <a href="" class="names">Экзотические животные</a>
    </div>
    <div style="display: block">
        <a href=""><img class='category_im' src="/static/img/mollusk.jpg"></a><br>
        <a href="" class="names">Моллюски</a>
    </div>
</div>
{% endblock %}