{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
{% endif %}
<div class="content">
    {% for i in c %}
    {% if i[5] %}
    <a href='/messenger/{{i[0]}}' class="chats_a">
        <div class="view_chat">
            <img class='ava_chats' height="150px;" src={{i[1]}}>
            <div style="width: 60%;">
                <h3 style="color: #281D35">{{i[2]}}</h3>
                <p style="margin-top: 25px">{{i[3]}}</p>
                <p style="margin-top: 25px; font-size: 18px;">{{i[4]}}</p>
            </div>
        </div>
    </a>
    {% else %}
    <a href='/messenger/{{i[0]}}'  class="chats_a">
        <div class="chats">
            <img class='ava_chats' height="150px;" src={{i[1]}}>
            <div style="width: 60%;">
                <h3 style="color: #281D35">{{i[2]}}</h3>
                <p style="margin-top: 25px">{{i[3]}}</p>
                <p style="margin-top: 25px; font-size: 18px;">{{i[4]}}</p>
            </div>
        </div>
    </a>
    {% endif%}
    {% endfor %}
</div>
{% endblock %}