{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
{% endif %}
<div class="content">
    <div style="margin-top: 25px;">
        {% if not posts %}
        <h4 style=" margin-left: 20px">Нет избранных объявлений</h4>
        {% elif n == 1%}
        <h4 style=" margin-left: 20px">{{ln}} избранное объявление</h4>
        {% elif 2 <= n <= 4 %}
        <h4 style=" margin-left: 20px">{{ln}} избранных объявления</h4>
        {% else %}
        <h4 style=" margin-left: 20px">{{ln}} избранных объявлений</h4>
        {% endif %}
        {% for i in posts %}
        <a href='/post/{{i[7]}}' class="post_fav" style="width: 97%; margin-left: 10px;">
            <div style="text-align: start; display: flex;">
                <p style="margin-right: 20px;"><img src={{i[6]}} height="150px" style="border-radius: 20px; "></p>
                <div style="width:75%">
                    <h3 style="color: #242229">{{i[0]}}</h3>
                    {% if i[2] >= 1 %}
                    <h5 style='color: #4a494d'>{{i[2]}} {{i[3]}}</h5>
                    {% else %}
                    <h5 style='color: #4a494d'>Бесплатно</h5>
                    {% endif %}
                    <p></p>
                    <p style="color: #807c8a">{{i[4]}}</p>
                    <p></p>
                    <p>
                        {% if i[8] %}
                        <img src="/static/img/delivery2.png" height="30" style="margin-right: 10px;">
                        {% endif %}{{i[5]}}</p>
                </div>
                <div style="text-align: center">
                    <p class="dest">{{i[1]}}</p>
                    <p style="color: #807c8a"> {{i[9]}}</p>
                    <div class="delete_p" style="text-align: end; margin-top: 40px;">
                        <form method="post">
                            <input type="submit" hidden="hidden" name={{i[5]}} id="del"/>
                            <label for="del">
                                <button class="del_img" name={{i[5]}}><img height="30" src="/static/img/delete.png"/>
                                </button>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}