{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
{% endif %}
<div class="content">
    <div style="text-align: start; width: 100%; margin-bottom: 25px; padding-left: 20px; margin-top: -15px;">
        <a href={{session['link']}} class="back_a">
            ←
        </a>
    </div>
    <div style='padding-left: 10%; font-size: 19px;'>
        <h3>Фильтр</h3>
        <p style="font-size: 20px; color: #48317a; margin-top: 30px;">{{message}}</p>
        <form class="filter" style='padding: 50px;' method="post" enctype="multipart/form-data">
            <p>
            <h5>Тип объявлений</h5>
            {{form.destination}}
            </p>
            <h5>
                {{form.delivery}} Возможность доставки
            </h5>
            <p>
            <h5>Цена</h5><br>
            от {{form.price1}}
            до {{form.price2}}
            </p>
            <p>
                {{form.documents}} Наличие документов
            </p>
            <p>
                {{form.vaccin}} Прививки
            </p>
            <p>
                {{form.steril}} Питомец стерилизован
            </p>
            <p>
            <h5>Возраст</h5><br>
            от {{form.age}}
            до {{form.age2}}
            </p>
            <p>
            <h5>Окрас</h5>
            {{form.color}}
            </p>
            {{form.submit (style='margin-top: 10px; width: 24%;', class='submit_b', value="Применить")}}
            <input style='margin-top: 10px; width: 24%; margin-left: 5px;' class='cancel' type="submit" name="delete"
                   value="Сбросить"/>
        </form>
    </div>
</div>
<script>
</script>
{% endblock %}