{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="buttons">
        <div>
            {% if session['filter'] %}
            <a href="/filter" class="img"><img src="/static/img/filter2.png" height="27"></a>
            {% else %}
            <a href="/filter" class="img"><img src="/static/img/filter.png" height="27"></a>
            {% endif %}
            {% if session['order'] %}
            <a href="/order" class="img"><img src="/static/img/sort2.png" height="27"></a>
            {% else %}
            <a href="/order" class="img"><img src="/static/img/sort.png" height="27"></a>
            {% endif %}
            <a href="/choice_city">
                <button class="img"><img src="/static/img/point.png" height="27" style="margin-right: 7px">{{city}}
                </button>
            </a>
        </div>
        {% if current_user.is_authenticated %}
        <div>
            <a href="/add_post">
                <button class="butt2"> + Создать объявление</button>
            </a>
        </div>
        {% endif %}
    </div>
    <div class="main_div">
        {% if not posts %}
        <div style="text-align: center; margin-top: 40px;">
            <h3>Нет объявлений</h3>
            <p></p>
            <p>Измените параметры фильтра или укажите другой населенный пункт</p>
        </div>
        {% endif %}
        {% for i in posts %}
        <a href='/post/{{i.id}}' class="post_mini">
            <div style="text-align: start; display: flex;">
                <p style="margin-right: 20px;"><img src={{i.photo}} height="150px" style="border-radius: 20px; "></p>
                <div style="width:75%">
                    <h3 style="color: #242229">{{i.title}}</h3>
                    {% if i.price >= 1 %}
                    <h5 style='color: #4a494d'>{{i.price}} {{i.currency}}</h5>
                    {% else %}
                    <h5 style='color: #4a494d'>Бесплатно</h5>
                    {% endif %}
                    <p></p>
                    <p style="color: #807c8a">{{i.content}}</p>
                    <p></p>
                    <p>
                        {% if i.delivery %}
                        <img src="/static/img/delivery2.png" height="30" style="margin-right: 10px;">
                        {% endif %}{{i.address}}</p>
                </div>
                <div style="text-align: center">
                    <p class="dest">{{i.destination}}</p>
                    <p style="color: #807c8a"> {{i.created_date.strftime('%d.%m.%Y, %H:%M')}}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}