{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="button_group">
        <button class="butt" autofocus>Все</button>
        <button class="butt">Кошки</button>
        <button class="butt">Собаки</button>
        <button class="butt">Грызуны</button>
        <button class="butt">Птицы</button>
        <button class="butt">Рыбы</button>
        <button class="butt">Рептилии</button>
        <button class="butt">Насекомые</button>
        <button class="butt">Другое</button>
    </div>
    <div class="buttons">
        <button class="img"><img src="/static/img/filter.png" height="33"></button>
        <button class="img"><img src="/static/img/sort.png" height="30"></button>
        <button class="img"><img src="/static/img/point.png" height="30" style="margin-right: 7px"> г. Сургут</button>
    </div>
    <div class="main_div">
    </div>
</div>
{% endblock %}