{% extends "base.html" %}

{% block content %}
<h2>{{ name }}</h2>
<div class="div_o">
    <div class="geo2" style="width: 91%; align-items: center;">
        <a href="/organizations">
            <button class="back">назад</button>
        </a>
        <a href="/choice_city"><img src="/static/img/point.png" height="30">{{ city }}</a>
    </div>
    <div style="display: flex; justify-content: center; width: 100%; ">
        <script type="text/javascript" charset="utf-8" async
                src={{link_kard}}>
        </script>
    </div>
    <a>
        {%for i in info %}
        <a href='/organizations/{{i.type}}/{{i.id}}' class="post_mini"
           style="padding: 30px; display: flex; height: 100%;">
            <div style="width: 80%">
                <h3>{{i.name}}</h3>
                <p style="color: #807c8a">{{i.address}}</p>
            </div>
            <div class='v_div'>
                <button class="v_org2"> ➜</button>
            </div>
        </a>
        {% endfor %}
    </a>
</div>
{% endblock %}