{% extends "base.html" %}

{% block content %}
<h2>{{ name }}</h2>
<div class="div_o">
    <div class="geo2">
        <a href="/organizations">
            <button class="back">назад</button>
        </a>
        <script type="text/javascript" charset="utf-8" async
                src={{link_kard}}>
        </script>
        <a href="#city"><img src="/static/img/point.png" height="30" style="margin-right: 7px">г. {{ city }}</a>
    </div>
    <div>
        {%for i in info %}
        <div class="org" style="padding: 30px">
            <div style="width: 80%;">
                <h3>{{i[0]}}</h3>
                <p>{{i[1]}}</p>
            </div>
            <div  class='v_div'>
                <a href=''><button class="v_org" > ➜ </button></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}