{% extends "base.html" %}

{% block content %}
<div class="account">
    <div style="text-align: start; display: flex;">
        <div style="justify-content: center;">
            <img src={{current_user.photo}} class="ava"><br>
            <button class="butt" style="width: 140px;">Изменить фото</button>
        </div>
        <div style="text-align: start; margin-left: 40px;">
            <div style="display: flex; margin-bottom: 13px;"><h5 style="margin-right: 15px;">Имя пользователя:</h5> <p>{{ current_user.name}}</p></div>
            <div style="display: flex; margin-bottom: 13px;"><h5 style="margin-right: 15px;">E-mail:</h5><p>{{ current_user.email}}</p></div>
            <h5>О себе:</h5>
            <div class="about">
                <p>{{ current_user.about}}</p>
            </div>
        </div>
        <div style="display: block; margin-left: 150px;">
            <a href=""><button class="edit">Редатировать</button></a><br>
            <button class="logout">Выйти</button>
        </div>

    </div>
    <div class="geo">
        <a href=""><img src="/static/img/point.png" height="35" style="margin-right: 7px"></a><a href="/choice_city">г. {{current_user.city}}</a>
    </div>
</div>
{% endblock %}