{% extends "base.html" %}

{% block content %}
<div class="subcategory">
    <div style="display: flex; justify-content: space-between">
        <a href="/category">
            <button class="back">назад</button>
        </a>
        <h2>{{ name }}</h2>
        <a href="/category">
            <button class="back">далее</button>
        </a>
    </div>
    <div class="sb">
        <div>
            {% for i in types %}
            <div>
                <input type="checkbox" id=f'{{i}}' name=f'{{i}}'/>
                <label for=f'{{i}}'>{{i}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}