{% extends "base.html" %}

{% block content %}
<div class="account">
    <div style="text-align: start; width: 100%; margin-bottom: 25px; padding-left: 10px; margin-top: -15px;">
        <a href={{session['link']}} class="back_a">
            ←
        </a>
    </div>
    <div style="text-align: start; display: flex; padding: 20px;">
        <div style="justify-content: center;">
            <img src={{userr.photo}} class="ava2"/><br>
        </div>
        <div style="text-align: start; margin-left: 40px;">
            <div style="display: flex; margin-bottom: 13px;"><h3 style="margin-right: 15px;">{{ userr.name}}</h3>
            </div>
            <div style="display: flex; margin-bottom: 13px;"><h5 style="margin-right: 15px;">E-mail:</h5>
                <p>{{ userr.email}}</p></div>
            <h5>О себе:</h5>
            <div class="about">
                <p>{{ userr.about}}</p>
            </div>
        </div>
    </div>
    <div style="margin-top: 35px">
        {% if not posts %}
        <h5>Нет объявлений</h5>
        {% else %}
        <h5>Объявления</h5>
        <div style="text-align: start">
            {% for i in posts %}
            {% if i != None %}
            <a href='/post/{{i[5]}}' class="post_mini">
                <div style="text-align: start; display: flex;">
                    <p style="margin-right: 20px;"><img src={{i[4]}} height="150px" style="border-radius: 20px; ">
                    </p>
                    <div style="width:75%">
                        <h3 style="color: #242229">{{i[0]}}</h3>
                        {% if i[1] >= 1 %}
                        <h5 style='color: #4a494d'>{{i[1]}} {{i[2]}}</h5>
                        {% else %}
                        <h5 style='color: #4a494d'>Бесплатно</h5>
                        {% endif %}
                        <p></p>
                        <p style="color: #807c8a">{{i[8]}}</p>
                        <p></p>
                        <p>{{i[3]}}</p>
                    </div>
                    <div style="text-align: center">
                        <p class="dest">{{i[7]}}</p>
                        <p style="color: #807c8a"> {{i[6]}}</p>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}