{% extends "base.html" %}

{% block content %}
<div class="content2">
    <div style="text-align: start; width: 100%; margin-bottom: 25px; padding-left: 10px; margin-top: -15px;">
        <a href={{back}} class="back_a">
            ←
        </a>
    </div>
    <div>
        <div style="display: flex; margin-top: -20px; margin-bottom: 40px;">
            <div style="text-align: start; padding: 15px">
                <h2>{{post.title}}</h2><br>
                <img src={{post.photo}} style="border-radius: 30px; width: 450px; margin-bottom: 10px; margin-right: 50px;">
            </div>
            <div style="width: 100%; padding: 15px; text-align: center; justify-content: center">
                {% if post.price >= 1 %}
                <h2>{{post.price}} {{post.currency}}</h2>
                {% else %}
                <h2>Бесплатно</h2>
                {% endif %}
                <div style="display: block; text-align: center; justify-content: center">
                    <a>
                        <button class="butt2"
                                style="width: 270px; font-size: 22px; margin-top: 25px;">
                            Написать
                        </button>
                    </a><br>
                    <a>
                        <button class="butt2"
                                style="width: 270px; font-size: 22px; margin-top: 20px; margin-bottom: 20px; background: #fff; color: black">
                            В избранное
                        </button>
                    </a>
                    <div class="user_info">
                        <a class="img"><img src={{user.photo}} style="border-radius: 20px" width="140px"></a>
                        <h3>{{user.name}}</h3>
                        <a>
                            <button class="butt2" style="font-size: 20px; margin-top: 10px; margin-bottom: 10px;">
                                Профиль
                            </button>
                        </a>
                        {% if post.phone %}
                        <p>Тел.: {{post.phone}}</p>
                        {%endif%}
                    </div>
                </div>
            </div>
        </div>
        <div class="org">
            <div style="justify-content: center; padding: 10px; padding-left: 30px; width: 100%">
                <div style="width: 90%; margin-bottom: 30px;">
                    <h3>Описание</h3>
                    <p>{{post.content}}</p>
                    <p>
                        <img src="/static/img/{{post.documents}}.png" width="15px;"> Наличие документов</p>
                    <p>
                        <img src="/static/img/{{post.steril}}.png" width="15px;"> Стерилизация</p>
                    <p><img src="/static/img/{{post.vaccin}}.png" width="15px;"> Вакцинация</p>
                </div>
                <div style="width: 98%; margin-bottom: 30px;">
                    <h3>Характеристика</h3>
                    <p>Категория: {{c}}</p>
                    <p>Порода: {{post.breed}}</p>
                    <p>Окрас: {{post.color}}</p>
                    {% if a[-1] in '234' %}
                    {% set age = 'года' %}
                    {% elif a[-1] == '1' %}
                    {% set age = 'год'%}
                    {% else %}
                    {% set age = 'лет' %}
                    {%endif%}
                    <p>Возраст: {{a}} {{age}}</p>
                </div>
                <div style="display: flex; justify-content: space-between; width: 100%; margin-bottom: 30px;">
                    <div>
                        <h3>Адрес</h3>
                        <p>
                            {{post.address}}
                        </p>
                        {% if img %}
                        <p>
                            <img src={{img}} style="border-radius: 30px; width: 500px;">
                        </p>
                        {%endif%}
                    </div>
                </div>
                <div style="text-align: center; margin-top: 70px;">
                    <h6>{{post.created_date.strftime('%d.%m.%Y, %H:%M')}}</h6>
                </div>
            </div>
        </div>
    </div>
    <div>

    </div>
</div>
{% endblock %}